
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(img/fondo2.jpg);
    background-repeat: no-repeat;
    height: 1300px;
}

.encabezado {
    background-color:rgb(231, 179, 111);
    opacity: 95%;
    color: white;
    padding: 1% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo img {
    height: 120px; /* Ajusta este valor según el tamaño de tu logo */
    margin: 0 40px; /* Espacio entre los botones y el logo */
}

.navegacion {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navegacion a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.8s;
}

.navegacion a:hover {
    background-color: rgb(219, 160, 82);
}

.navegacion a i {
    font-size: 24px;
    margin-bottom: 5px;
}
.logo-texto {
    font-size: 24px;
    font-weight: bold;
}